<h1>やることリスト</h1>

<%= form_with url: "/posts", method: :post, id: "form" do |f| %>
  <%= f.text_field :memo %>
  <%= f.submit '投稿する', id: "submit" %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
<label class="post">
  <div class="checkbox-info">
    <input type="checkbox" class="checkbox">
    <span></span>
  </div>
  <div class="post-info">
    <div class="post-date">
      <%= post.created_at.to_s(:datetime_jp)  %>
    </div>
    <div class="post-memo">
      <%= post.memo %>
    </div>
  </div>
</label>
<% end %>

